body {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
  padding-bottom: 1rem;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Customize the appearance of the card body on hover */
.card:hover .card-body {
  background-color: #f8f9fa;
}

/* Customize the appearance of the card header on hover */
.card:hover .card-header {
  /* Commented out the original background and color change */
   /*background-color: #007bff;
  color: #fff; */

  /* Remove text shadow and keep the cool shadow effect on hover */
  text-shadow: none;
}

#appheader{
    font-size: 72px;
    background: -webkit-linear-gradient(#007bff, #89c2ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}